This is example template output for testing of passing variables from Jenkins to ansible.
Build number from template is : "{{ build_number }}"
pom_platform_version from template is : "{{ pom_platform_version }}"
pom_appl_version from template is : "{{ pom_appl_version }}"